<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/welcome.css">
    <title>Client</title>
</head>
<body>
    <div class="welcome">

        <a href="<%= formLink %>" class="button__link">modifier ma réparation</a>
        <a href="<%= reparLink %>" class="button__link">Mes Reparations</a>
    </div>
</body>
</html>