<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/welcome.css">
    <title>Client</title>
</head>
<body>
    <div class="welcome">
        <h2>choissez votre genre </h2>

        <a href="/clients/nouveau-client" class="button__link">Nouveau Client</a>
        
        <a href="/clients/client_validation" class="button__link">Ancien Client</a>
    </div>
</body>
</html>