<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Client</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="modifications">modifier les réparations</a>
          </li>
          <li class="main-header__item">
            <a href="mes_reparations">Mes réparations</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form method="POST" id='tech_modification_form'>
        <div class="form-control">
          <% if(data) { %>
          <label for="title">Technicien ID</label>
          <input type="text" name="id_tech" id="id_tech" disabled value ='<%= id %>'>
        </div>
        <div >
            <% if (data.length > 0) { %>
                <% for(item of data) { %>
                    <div class="reparCat__form">
                        <span>N_reparation : <%= item.N_reparation%></span>
                        <span>Categorie : <%= item.Nom_cat%></span></br>
                        <span>Etat : <%= item.Etat%></span></br>
                    </div>
                <% } %>
              <% } else {%>
                <div class="reparCat__form">
                  <h1>Aucune réparation en cours</h1>
                </div>
              <% } %>
        </div>
        <% }%>
      </form>
    </main>
  </body>
</html>
