<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Check Client</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a href="/">Technicien</a>
          </li>
          <li class="main-header__item">
            <a href="#">Mes réparations</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form method="POST" id='tech_validation_form'>
        <div class="form-control">
            <label for="title">Technicien ID</label>
            <input type="text" name="id_tech" id="id_tech" />
          </div>
        <div class="form-control">
          <label for="title">Nom</label>
          <input type="text" name="Nom" id="Nom" />
        </div>
        <button class="btn" type="submit">Se connecter</button>
        <button class="btn" type="reset">Annuler</button>
      </form>
    </main>
  </body>
</html>
